.nav {
  padding: 20px;
  .name {
    margin-left: 20px;
    font-size: 20px;
  }
  a {
    padding: 0 30px;
    text-decoration: none;
    color: #333333;
    &.active {
      font-weight: 600;
    }
  }
}